<head>
  <link rel="stylesheet" href="~/css/card.css" />
</head>

<section style="background-color: #112E40; padding: 25px;">
  <figure class="text-center" style="color:#FFF">
    <blockquote class="blockquote">
      <p>Aplicación libreria</p>
    </blockquote>
    <figcaption class="blockquote-footer" style="color:#FFF">
      Visualiza y agrega nuevos libros
    </figcaption>
  </figure>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-3">
        <h1 style="color:#FFFFFF;">Mis libros</h1>
      </div>
      <div class="col-3">
        <button class="btn-registrer">Registrar nuevo libro</button>
      </div>
    </div>
    <div class="row">
      <div class="filter-result col-md-4">
        <div class="job-box d-md-flex align-items-center justify-content-between mb-30">
          <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
            <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
              LA
            </div>
            <div class="job-content">
              <h5 class="text-center text-md-left">Libro</h5>
              <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                <li class="mr-md-4">
                  <i class="bi bi-journal"></i>12/13/2021
                </li>
                <li class="mr-md-4">
                  <i class="bi bi-calendar4-week"></i> <b>Categoria:</b>Miedo
                </li>
                <li class="mr-md-4">
                  <i class="bi bi-calendar2-check-fill"></i> <b>Editorial:</b>Libro
                </li>
              </ul>
            </div>
            <button class="btn-customer">Editar</button>
          </div>
        </div>
      </div>
      <div class="filter-result col-md-4">
        <div class="job-box d-md-flex align-items-center justify-content-between mb-30">
          <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
            <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
              LA
            </div>
            <div class="job-content">
              <h5 class="text-center text-md-left">Libro</h5>
              <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                <li class="mr-md-4">
                  <i class="bi bi-journal"></i>12/13/2021
                </li>
                <li class="mr-md-4">
                  <i class="bi bi-calendar4-week"></i> <b>Categoria:</b>Miedo
                </li>
                <li class="mr-md-4">
                  <i class="bi bi-calendar2-check-fill"></i> <b>Editorial:</b>Libro
                </li>
              </ul>
            </div>
            <button class="btn-customer">Editar</button>
          </div>
        </div>
      </div>
      <div class="filter-result col-md-4">
        <div class="job-box d-md-flex align-items-center justify-content-between mb-30">
          <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
            <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
              LA
            </div>
            <div class="job-content">
              <h5 class="text-center text-md-left">Libro</h5>
              <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                <li class="mr-md-4">
                  <i class="bi bi-journal"></i>12/13/2021
                </li>
                <li class="mr-md-4">
                  <i class="bi bi-calendar4-week"></i> <b>Categoria:</b>Miedo
                </li>
                <li class="mr-md-4">
                  <i class="bi bi-calendar2-check-fill"></i> <b>Editorial:</b>Libro
                </li>
              </ul>
            </div>
            <button class="btn-customer">Editar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="background-color: #C7D2D9; padding: 25px;">
  <div class="cardcontainer">
    <div class="photo">
        <img src="https://m.media-amazon.com/images/I/51d2EqJv1EL._SX327_BO1,204,203,200_.jpg">
        <div class="photos">Book</div>
    </div>
    <div class="content">
        <p class="txt4">La razón de estar contigo.</p>        
        <p class="txt5">EditBook</p>
        
    </div>
    <div class="footer">         
        <p class="txt3"><i class="far fa-clock"></i>Categoria <span class="comments"><i class="fas fa-comments"></i>Naturaleza</span></p>
    </div>
  </div>
</section>

<script src="~/js/card.js"></script>