
<body>
    <div class="container">
                        
    </div>
    <div class="container text-center">
        <div class="row justify-content-md-center">
            
            <div class="col-md-auto">
                <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_IUyiNyKLsv.json"  background="transparent"  speed="1"  style="width: 370px; height: 370px;"  loop  autoplay></lottie-player>
            </div>
        </div>    
        <div class="row justify-content-md-center">
            <div class="col col-lg-8">
                <h1 class="display-3">¡Error del servidor interno!</h1><span>Trabajamos en ello</span>
            </div>
        </div>
    </div>   
</body>