<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - turingPrueba</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/turingPrueba.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/modal_style.css" />
    <script src="https://unpkg.com/\\@@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>

<body>
    <header>

        <nav
            class="navbar navbar-custom navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <a class="navbar-brand col-4" asp-controller="Home" asp-action="Index">turingPrueba</a>



                
                    
                <partial name="_Sessions" />
            </div>
        </nav>


    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="background-color: #112E40;" class="border-top footer text-muted">
        <div>
            &copy; 2023 - turingPrueba - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert2.all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
