.career-form {
  background-color: #4e63d7;
  border-radius: 5px;
  padding: 0 16px;
}

.career-form .form-control {
  
  border: 0;
  padding: 12px 15px;
  color: #fff;
}

.career-form .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

.career-form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.career-form .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

.career-form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

.career-form .custom-select {
  
  border: 0;
  padding: 12px 15px;
  color: #fff;
  
  border-radius: 5px;
  text-align: left;
  height: auto;
  background-image: none;
}

.career-form .custom-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.career-form .select-container {
  position: relative;
}

.career-form .select-container:before {
  position: absolute;
  right: 15px;
  top: calc(50% - 14px);
  font-size: 18px;
  color: #ffffff;
  content: '\F2F9';
  
}

.filter-result .job-box {
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
          box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  border-radius: 10px;
  padding: 10px 35px;
  background-color: #fff;
}

ul {
  list-style: none; 
}

.list-disk li {
  list-style: none;
  margin-bottom: 5px;
}

.list-disk li:last-child {
  margin-bottom: 0;
}

.job-box .img-holder {
  height: 65px;
  width: 65px;
  background-color: #4e63d7;
  background-image: -webkit-gradient(linear, left top, right top, from(#00AB84), to(#00AB84));
  background-image: linear-gradient(to right, #00AB84, #00AB84 100%);
  
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 65px;
}

.career-title {
  background-color: #4e63d7;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#00AB84), to(#00AB84));
  background-image: linear-gradient(to right, #00AB84, #00AB84 100%);
}

.job-overview {
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
          box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  border-radius: 10px;
}

@media (min-width: 992px) {
  .job-overview {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
  }
}

.job-overview .job-detail ul {
  margin-bottom: 5px;
}

.job-overview .job-detail ul li {
  opacity: 0.75;
  font-weight: 600;
  margin-bottom: 5px;
}

.job-overview .job-detail ul li i {
  font-size: 20px;
  position: relative;
  top: 1px;
}

.job-overview .overview-bottom,
.job-overview .overview-top {
  padding: 35px;
}

.job-content ul li {
  font-weight: 600;
  opacity: 0.75;
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
}

@media (min-width: 768px) {
  .job-content ul li {
    border-bottom: 0;
    padding: 10px 15px;
  }
}

.job-content ul li i {
  font-size: 20px;
  position: relative;
  top: 1px;
}
.mb-30 {
    margin-bottom: 15px;
}






h1{
  text-align: center;
  color: #333333;
}
.cardcontainer{
  width: 350px;
  height: 500px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
  border-radius: 5px;
  
}
.cardcontainer:hover{
  box-shadow: 0 0 45px gray;
}
.photo{
  height: 300px;
  width: 100%;
  border-radius: 5px;
}
.photo img{
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.txt1{
  margin: auto;
  text-align: center;
  font-size: 17px;
}
.content{
  width: 80%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -33px;
  border-radius: 5px;
}
.photos{
  width: 90px;
  height: 30px;
  background-color: #E74C3C;
  color: white;
  position: relative;
  top: -30px;
  padding-left: 10px;
  font-size: 20px;
}
.txt4{
  font-size:27px;
  position: relative;
  top: 33px;
}
.txt5{
  position: relative;
  top: 18px;
  color: #E74C3C;
  font-size: 23px;
}
.txt2{
  position: relative;
  top: 10px;
}
.cardcontainer:hover > .photo{
  height: 200px;
  animation: move1 0.5s ease both;
}
@keyframes move1{
  0%{height: 300px}
  100%{height: 200px}
}
.cardcontainer:hover > .content{
  height: 200px;
}
.footer{
  width: 80%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  position: relative;
  top: -15px;
}
.btn{
  position: relative;
  top: 20px;
}
#heart{
  cursor: pointer;
}
.like{
  float: right;
  font-size: 22px;
  position: relative;
  top: 20px;
  color: #333333;
}
.fa-gratipay{
  margin-right: 10px;
  transition: 0.5s;
}
.fa-gratipay:hover{
  color: #E74C3C;
}
.txt3{
  color: gray;
  position: relative;
  top: 18px;
  font-size: 14px;
}
.comments{
  float: right;
  cursor: pointer;
}
.fa-clock, .fa-comments{
  margin-right: 7px;
}